:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --dark: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #f4f4fd;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white)
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

h2 {
    color: var(--dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

button {
    cursor: pointer
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
}

/* header */

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo-dark {
    color: var(--dark);
}

.nav-link:hover,
.contacts-link:hover,
.nav-link:focus,
.contacts-link:focus {
    color: var(--iris);
}

.nav-link {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* hero */

.hero {
    background: var(--dark);
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.hero-btn {
    color: var(--white);
    background-color: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

/* advantages */

.advantages-title {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.advantages-text {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* team */

.team {
    background-color: var(--cloud);
}

.team-pre-title {
    color: var(--dark);
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-item {
    background-color: var(--white);
}

.team-title {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text {
    color: var(--slate);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* portfolio */

.portfolio-pre-title {
    color: var(--dark);
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-title {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate)
}

/* footer */

.footer {
    background-color: var(--dark);
}
.logo {
}
.logo-light {
    color: var(--cloud);
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}